body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body,html {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  overflow-y: visible;
 }
.temp {
  background-color: linear-gradient(250deg,#dddbd1,#d2dbdc);
  height: 130px;
  width: 100%;
  background:#009688 ;
  position: fixed;

}
.react-emoji-picker--wrapper{
  right: unset !important;
}